@model Messanger.Models.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Груповий чат";
}

<link rel="stylesheet" href="~/css/MessangerHomeStyle.css" />

<div class="d-flex" style="height:100%">
    @await Html.PartialAsync("_Sidebar", Model)

    <div class="flex-grow-1 p-3 bg-light d-flex flex-column chat-container">
        @await Html.PartialAsync("_ChatWindow", Model)
    </div>
</div>

@await Html.PartialAsync("_NewGroupModal")
@await Html.PartialAsync("_ProfileModal")

@section Scripts {
    <script src="~/lib/signalr/signalr.min.js"></script>

    <script>
        window.chatConfig = {
            currentUserId:  @Model.CurrentUserId,
            currentUserLogin: '@Model.CurrentUserLogin',
            currentUserAva:  '@Model.CurrentUserAva',
            currentChatId:   @(Model.SelectedChatId is null ? "null" : Model.SelectedChatId.ToString()),
            currentGroupId:  @(Model.SelectedGroupId is null ? "null" : Model.SelectedGroupId.ToString())
        };
    </script>

    <script src="~/js/previewer.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/js/group.js"></script>
    <script src ="~/js/MessengerContextMenu.js"></script>
}
